# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.*.local

# Dependency directories
node_modules/

# Build outputs
dist/
build/

# Prisma
prisma/migrations/

# TypeScript
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp